<!DOCTYPE html>
<html>
<head>
  <title>Jitsi Test</title>
  <meta charset="UTF-8">
  <style>
    #jitsi-container {
      height: 90vh;
      width: 100%;
    }
  </style>
</head>
<body>
  <a href="https://meet.jit.si/welcomr_123456" target="_blank">
  Join Jitsi Call
</a>
</body>
</html>
